<div class="col-md-12">

  <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% elsif flash[:warning] %>
      <div class="alert alert-danger"><%= flash[:warning] %></div>
    <% else %>
  <% end %>

	<div class="contact contact-test">
		<div>
			<h1>Contact Us</h1>

			<%= simple_form_for :contact do |f| %>
	    		<%= f.input :email, placeholder: 'Please type your email here' %>
	    		<%= f.input :message, placeholder: 'Please type message here', :as => :text %>
	    	<%= f.button :submit, "Send!" %>
			<% end %>
		</div>
	</div>
</div>